.fullwidthbtn {
    display: block;
    width: 100%;
    padding: 56px 0;
    font-size: 30px;
    line-height: 41px;
    font-weight: 400;
    border: 1px solid #ad1818;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.03em;
    color: #ad1818;
    background: #ffffff;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .fullwidthbtn:hover {
    background-color: #ad1818;
    color: #ffffff;
  }

  .fullwidthbtn_inverted  {
    background-color: #ad1818;
    color: #ffffff;
  }

  .fullwidthbtn_inverted:hover {
    background-color:#ffffff ;
    color: #ad1818;
  }

  @media (max-width: 1199px) {
    .fullwidthbtn {
        width: 100%;
      }
  }

  @media (max-width: 767px) {
    .fullwidthbtn {
        padding: 37px 0;
        font-size: 22px;
        line-height: 30px;
      }
  }
