.full-width-btn {
  display: block;
  width: 100%;
  font-size: 30px;
  line-height: 153px;
  font-weight: 400;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #ad1818;
  background: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}

.full-width-btn:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.full-width-btn_inverted {
  background-color: #ad1818;
  color: #ffffff;
}

.full-width-btn_inverted:hover {
  background-color: #ffffff;
  color: #ad1818;
}

.full-width-btn_small {
  margin-top: 80px;
  line-height: 67px;
  font-size: 20px;
}

.full-width-btn_small:hover {
  background-color: #ffffff;
  color: #ad1818;
}

@media (max-width: 1199px) {
  .full-width-btn {
    width: 100%;
  }

  .full-width-btn_small {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .full-width-btn {
    font-size: 22px;
    line-height: 100px;
  }

  .full-width-btn_small {
    margin-top: 60px;
    line-height: 67px;
  }
}
