/* .contacts h2:before {
  content: "";
  display: block;
  margin-bottom: 12px;
  margin-left: -5px;
  width: 24px;
  height: 24px;
  background-image: url("../resources/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts {
  padding: 150px 125px 150px 125px;
}

.contacts-title {
  margin-bottom: 32px;
}

.contacts__tel {
  display: block;
  margin-left: 3px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__email {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__email:hover {
  opacity: 0.5;
  border-bottom: 2px solid #121212;
} */