.contacts {
  margin-bottom: 150px;
}

.contacts__inner {
  display: flex;
  gap: 104px;
}

.contacts__title {
  margin-bottom: 74px;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
}

.contacts__tel {
  position: relative;
  display: block;
}

.contacts__telephone {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__tel::before,
.contacts__mail::before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__tel::before {
  background-image: url("../resources/mobile.png");
}

.contacts__mail {
  position: relative;
  display: block;
}

.contacts__email {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__email:hover {
  transition: 0.5s;
  border-bottom: 2px solid #121212;
  opacity: 0.5;
}

.contacts__mail::before {
  background-image: url("../resources/mail.png");
}

@media (max-width: 1199px) {
  .contacts {
    margin-bottom: 150px;
  }

  .contacts__inner {

    gap: 114px;
  }

  .contacts__telephone {
    font-size: 45px;
  }

  .contacts__email {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .contacts {
    margin-bottom: 80px;
  }

  .contacts__inner {
    flex-direction: column;
    gap: 58px;
  }

  .contacts__title {
    margin-bottom: 58px;
    font-size: 14px;
    line-height: 19px;
    color: #121212;
  }

  .contacts__telephone {
    font-size: 35px;
    line-height: 46px;
  }

  .contacts__tel:before {
    width: 9.75px;
    height: 16.5px;
    top: -40px;
  }

  .contacts__email {
    font-size: 35px;
    line-height: 46px;
    opacity: 1;
    border: none;
  }

  .contacts__mail:before {
    width: 15px;
    height: 12px;
    top: -40px;
  }
}
