.gallery {
  margin-bottom: 150px;
  position: relative;
}

.gallery__title-wrapper {
  position: absolute;
  z-index: 1;
  top: 60px;
}

.gallery__title {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.gallery__slides {
  height: 717px;
  position: relative;
}

.gallery__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__desc-text {
  position: absolute;
  bottom: 60px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.gallery__controls-wrapper {
  position: absolute;
  bottom: 165px;
  width: 100%;
}

.gallery__controls {
  display: flex;
}

.gallery__control-prev {
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  height: 33.33px;
  margin-right: 35px;
}

.gallery__control-prev:hover {
  opacity: 0.5;
}

.gallery__control-next {
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  height: 33.33px;
}

.gallery__control-next:hover {
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .gallery {
    margin-bottom: 120px;
  }
  .gallery__title-wrapper {
    top: 80px;
  }

  .gallery__title {
    font-size: 20px;
    line-height: 27px;
  }

  .gallery__slides {
    height: 536px;
  }

  .gallery__desc-text {
    bottom: 80px;
    font-size: 25px;
    line-height: 34px;
  }

  .gallery__controls-wrapper {
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .gallery {
    margin-bottom: 80px;
  }
  .gallery__title-wrapper {
    top: 61px;
  }

  .gallery__title {
    font-size: 14px;
    line-height: 19px;
  }

  .gallery__slides {
    height: 408px;
  }

  .gallery__desc-text {
    font-size: 19px;
    line-height: 26px;
  }

  .gallery__controls-wrapper { 
    bottom: 189px;
  }

  .gallery__controls {
    justify-content: space-between;
  }
}
