/* .nav-container {
  margin: auto;
  width: 1400px;
  padding: 33px 125px 0 125px;
}

.logo {
  display: inline-block;
}

.nav {
  float: right;
}

.nav-link {
  display: inline-block;
  margin-right: 58px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #121212;
}

.nav-link:last-child {
  margin: 0;
}

.nav-link:hover {
  opacity: 0.5;
  border-bottom: 1px solid #000000;
} */
