.reviews {
  margin-bottom: 150px;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 51px;
}

.review {
  width: calc(50% - 25px);
}

.review_big {
  width: 861px;
}

.review__title {
  font-size: 45px;
  line-height: 61px;
  color: #000000;
  margin-bottom: 14px;
}

.review__desc {
  font-size: 22px;
  line-height: 30px;
}

@media (max-width: 1199px) {
  .reviews {
    margin-bottom: 120px;
  }

  .reviews__list {
    row-gap: 80px;
  }

  .review {
    width: calc(50% - 5px);
  }

  .review_big {
    width: 694px;
  }

  .review__title {
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 25px;
  }

  .review__desc {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 767px) {
  .reviews {
    margin-bottom: 80px;
  }

  .reviews__list {
    flex-direction: column;
  }

  .review {
    width: 100%;
  }

  .review_big {
    width: 100%;
    margin-bottom: 80px;
  }

  .review__title {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .review__desc {
    font-size: 16px;
    line-height: 22px;
  }
}
