.reviews {
  margin-bottom: 157px;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 51px;
}

.review {
  width: calc(50% - 25px);
}

.review__title {
  font-size: 45px;
  line-height: 61px;
  color: #000000;
  margin-bottom: 14px;
}

.review__text {
  font-size: 22px;
  line-height: 30px;
}

@media (max-width: 1199px) {
    .reviews {
        margin-bottom: 120px;
      }

      .review {
        width: calc(50% - 5px);
      }

      .review__title {
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 25px;
      }

      .review__text {
        font-size: 20px;
        line-height: 27px;
      }
}

@media (max-width: 767px) {
    .reviews {
        margin-bottom: 80px;
      }
}
