.services {
  width: 100%;
  background-color: #121212;
}

.services__inner {
  padding-top: 151px;
  padding-bottom: 150px;
}

.services__inner h2 {
  color: #ffffff;
}

.services__list {
  margin-bottom: 106px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 85px;
}

.service__image {
  width: 100%;
  height: 389px;
  margin-bottom: 25px;
}

.service h3 {
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.servicebtn {
  display: block;
  width: 100%;
  padding: 56px 0;
  font-size: 30px;
  line-height: 41px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: -0.03em;
  background-color: #ad1818;
  color: #ffffff;
}

@media (max-width: 1199px) {
}
