@import url('/styles/header.css');
@import url('/styles/we-team.css');
@import url('/styles/about-us.css');
@import url('/styles/projects.css');
@import url('/styles/services.css');
@import url('/styles/slider.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
  max-width: 100%;
  font-weight: 400;
  background-color: #ffffff;
}

h1,
h2,
h3,
a,
p,
div,
ul,
li {
  letter-spacing: -0.03em;
}

/* section {
    margin: 0 auto;
    width: 1400px;
    padding-left: 125px;
    padding-bottom: 150px;
    background-color: #FFFFFF;
} */

/* section:nth-last-child(3) {
  padding-bottom: 0;
} */

/* .contacts h2:before {
  content: "";
  display: block;
  margin-bottom: 12px;
  margin-left: -5px;
  width: 24px;
  height: 24px;
  background-image: url("../resources/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts {
  padding: 150px 125px 150px 125px;
}

.contacts-title {
  margin-bottom: 32px;
}

.contacts__tel {
  display: block;
  margin-left: 3px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__email {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__email:hover {
  opacity: 0.5;
  border-bottom: 2px solid #121212;
} */

/* footer {
  width: 100%;
  margin-top: 9px;
  height: 229px;
  background-color: #121212;
}

.footernav {
  width: 450px;
  margin: auto;
  padding: 60px 0 87px 0;
}

.footernav__link {
  margin-left: 50px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
}

.footernav__link:first-child {
  margin: 0;
}

.footernav__link:hover {
  opacity: 0.5;
}

footer p {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
} */
